__pycache__/*
__pycache__/
.vscode/
RoadTaxTracker.spec
/build
/build/*
/dist/*
/dist/RoadTaxTracker/*
/build/RoadTaxTracker/*
dist/
*.yml
.env
/env/*
*.swp
roadtax_date.db
*.db


# JetBrains Rider
.idea/
.ipynb_checkpoints/Untitled-checkpoint.ipynb
